<nav class="navbar navbar-expand nav-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Home</a>

    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a href="/admin/articles" class="nav-link">Artigos</a>
      </li>
      <% categories.forEach((categories)=>{ %>
        <li class="nav-item">
          <a href="/category/<%= categories.slug %>" class="nav-link">
            <%= categories.title %>
          </a>
        </li>
        <%})%>
    </ul>

  </div>
</nav>