<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GuiaPress</a>

    <ul class="navbar-nav me-auto ">
      <li class="nav-item">
        <a href="/admin/categories" class="navbar-brand">Categories</a>
      </li>
    </ul>
  </div>



</nav>