<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1>Bem vindo ao Projeto Blog</h1>
            </div>
        </div>
    </div>
    

<%- include('./partials/footer.ejs') %>

